/* color palette:  #EAF2E3, #61E8E1, #F25757, #F2E863, #F2CD60 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Space+Mono&display=swap');

body {
    margin: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #F2CD60;
    color: #F25757;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Space Mono', monospace;
}

.game-header {
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.game-title {
    display: flex;
    height: 80%;
    font-size: 30px;
    align-items: flex-start;
    align-content: flex-start;

}

.player-display {
    display: flex;
    height: 20%;
    padding: 10px;
    font-size: 40px;
}

.name-input {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #EAF2E3;
    border: none;
    margin: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Space Mono', monospace;

}

.first-section {
    display: flex;
}

.second-section {
    display: flex;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
}

.reset-button {
    cursor: pointer;
}

.game-board {
    display: flex;
    width: 60%;
    justify-content: center;
    cursor: pointer;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}

.grid-item {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2CD60;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #F25757;
}